body{
    background-image: linear-gradient(#000000c3,#000000c3),url(profile.jfif);
    width:100%;
    height: 100%;
    background-size: cover;
    color: white;
    padding-left: 450px;
    padding-top: 100px;
    
}